:root{
    --blanco1: white;
    --blanco2: #A5A3A5;
    --blanco3: #212429;
    
    font-family: 'Nunito', sans-serif;     /*CSS rules to specify families - Regla para CSS de fonts.google */

}

html {
    scroll-behavior: smooth;    /* Para efecto de scrollbar */
}

body {
    margin: 0px;      /* Para que todo quede sin margen */
    background: #251F24;
}

header {
    font-size: 14px;     /* tamaño global de cabecera*/
    font-weight: 400px;   /*Peso o grosor*/
    color: var(--blanco1);
    
    /* Menú */

    position: absolute;
    /* top: 0; */
    inset-block-start: 0;  /* Debe ser relativo a algo. En este caso a .header */
    /* bottom  
    inset-block-end: ;
     Left */
    inset-inline-start: 30px;
    /* right 
    inset-inline-end: ; */
}

.header { 
    position: sticky;  /* Para que el menu sea relativo al header. Pero tambien puedo usar sticky para que se mantenga fijo */
    inset-block-start: -45px;  /* Separacion de arriba del menu */
}

.header-content {
    position: relative;  /* Para que el menu sea relativo al contenido del header-content */
    inset-block-start: 65px;   /* Separacion de arriba del menu */
}

.fondo {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 350px;
}

header a{ 
    color: var(--blanco2);        /* a: ancla */
    text-decoration: none;    /* Sin remarcar  las anclas*/
   
}

header a:hover{         /* Hover - selector pseudoclase que cambia de color segun el mouse */
    color:var(--blanco1);
}

header li {
    color: var(--blanco2);
    margin-block-end: 16px;   /* Separacion de linea de los li del menu */
}

header a:hover{         /* Hover - selector pseudoclase  */
    color:var(--blanco2);
}

header nav details summary{    /*  Selector de setup y conceptos esenciales*/
    color: var(--blanco1);
    font-size: 14px;      
    font-weight: bold;       /* grosor de letra  */
}



h1{
    font-size: 60px;
    color: var(--blanco1);
    font-weight: normal;

    margin-block-start: 64px;    /* Margen logico desde arriba hacia el h1 */
    margin-block-end: 16px;     /* Margen logico desde abajo hacia el h1 */

    /* Alineacion de textos 
    text-align: center, justify, left...; alineacion de texto para el centro*/
    
    /* Tamaño de fuente
    font-size: 20px;  */

    /* Alineacion de textos con valores logicos
    text-align: start, justify, end, .... */;

}

hr {
    margin-block: 40px;    /* Margen logico para todos los lados */
    border-color: #616161;
}

h2{
    font-size: 2em;
    color: var(--blanco1);
    font-weight: normal;
    margin-block: 40px;
}

h3{
    font-size: 1.5em;
    color: var(--blanco1);
    font-weight: 600;
    margin-block: 16px;   /* Margen logico para todos los lados */
}

.hero{
    background-image:linear-gradient(to top, rgba(255,255,255,.3),transparent),url("../../Images2/patron-1.png");
    height: 350px;
    /* Caracteristicas del Degradado */
}

h3::before{
    content: "";
}

h3::after{
    content:"";
    width:32px;    /* Ancho del h3 */
    height:4px;    /* Grosor de letras */
    /* background:var(--blanco1);  */
    display: inline-block;   /* Modo de lectura */
}

.section-content{
    counter-reset: subtitulos;
}


.section-content ol,ul {
    color: var(--blanco2);   /* Color de letra para los ol y ul */
}

.section-content ul li {
    margin-block-end: 16px;   /* Separacion de lineas para los ul */  
    fill: solid var(--blanco1);
}


.section-content img {
    display: block;
    max-inline-size: 100%;    /* Para que se acomode la imagen segun lo redimensione el user con (valores logicos)*/
    /* overflow: auto;   para crear un scrollbar en ese bloque  */
}

.section-content h3{
    counter-increment: subtitulos;
}

.section-content h3::before{
    content: counter(subtitulos,decimal) ".  ";
}

p {
    color: var(--blanco2)    /* Color de las letras de parrafos */
}

.unica{
    color: var(--blanco1);   /* Color de la clase "unica" */
}

blockquote {
    margin-block-start: 60px;
    margin-block-end: 63px;
    background-color: #3A3539;
    border-radius: 8px;     /* borde de recuadro con radio */
    padding-inline-start: 24px;   /* Padding en la linea de la izquierda */
    padding-inline-end: 24px;    /* Padding en la linea ha la derecha */
    padding-block-start: 24px;   /* Padding hacia arriba */
    padding-block-end: 24px;     /* Padding hacia abajo */
    line-height: 32px;
    font-size: 24px;

    /* Practicando bordes:  */

   /* border: 10px solid red;   borde de todo el recuadro 
    border-left: 5px solid blue;  Borde izquierdo del recuadro 
    border-inline-start: 5px solid white;  Borde izquierdo del recuadro usando valores logicos
    border-block-end: 20px solid pink;  Borde inferior usando propiedades logicas
    border-inline-end: 5px solid green; Borde derecho usando propiedades logicas 
    border-block-start-color: blue;    Borde superior usando propiedades logicas */

    border: 10px solid #5551FF;  /* Borde de todo el recuadro */
    box-shadow: -10px 10px 0 0 #ABAAF6;  /* Sombra del recuadro */
    margin-block-end: 60px;  /* Margen inferior del recuadro */
    
    /* Para hacer un ovalo en vez de recuaro: 
    border-radius: 50%; */

    /* Para hacer un circulo perfecto en vez de recuadro: 
    inline-size: 400px;
    block-size: 400px;
    Hago inline-size y block-size iguales */

    /* Border-radius con propiedades logicas: */
    border-start-start-radius: 60px;  /* Radio para borde superior izquierdo */

 }

blockquote span,p{
    color: var(--blanco1);    /* Color de las letras del blockquote */
}

.main hr{
    display: none;   /* Desactivo la linea separadora hr */
}

.main {
    margin-left: 290px;
}

main .wrapper {
    max-inline-size: 802px;     /* tamaño maximo para que el user redimensione */
    margin: auto;              /* Encuadro el bloque en la zona central */
  /*  border: blue solid 3px;  */
}

.main-content {
    padding-inline: 16px;    /* Padding solo en la linea y no en todos los lados con valores logicos */

}

.ultima {
    margin-block-start: 55px;
    margin-inline-start: 400px;   /* Ubicación de links para correos */
}