:root{
    --gris1:#616161;
    --gris2: #212121;
    --gris3: #212429;
    
    font-family: 'Roboto', sans-serif;     /*CSS rules to specify families - Regla para CSS de fonts.google */

}

header {
    font-size: 14px;     /* tamaño global de cabecera*/
    font-weight: 400px;   /*Peso o grosor*/
    color: var(--gris1);

}

header a{ 
    color: var(--gris1);        /* a: ancla */
    text-decoration: none;    /*Sin remarcar  las anclas*/
   
}

header a:hover{         /* Hover - selector pseudoclase  */
    color:var(--gris2);
}

header nav details summary{    /*  Selector de setup y conceptos esenciales*/
    color: var(--gris2);
    font-size: 14px;      
    font-weight: bold;       /* grosor de letra  */
}



h1{
    font-size: 60px;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

.hero{
    background-image:linear-gradient(to top, rgba(255,255,255,.3),transparent),url("../../Images2/patron-1.png");
    height: 350px;
}

h3::before{
    content: "";
}

h3::after{
    content:"";
    width:32px;
    height:4px;
    background:var(--gris1);
    display: inline-block;
}

.section-content{
    counter-reset: subtitulos;
}

.section-content h3{
    counter-increment: subtitulos;
}

.section-content h3::before{
    content: counter(subtitulos,decimal) ".  ";
}